@{
    ViewData["Title"] = "Slowness Reproducer";
    var isRunning = false;
}

<div style="font-family: system-ui; max-width: 720px; margin: 2rem auto;">
    <h1>Slowness Reproducer</h1>
    <!--<p>
        <strong>Status:</strong>
        <span id="statusText">@((isRunning) ? "Running" : "Stopped")</span>
        <span id="statusText">Stopped</span>
    </p-->

    <div style="display:flex; gap:1rem; margin-top:1rem;">
        <!--<button id="btnStart" style="padding:.6rem 1rem;" asp-controller="Slowness" asp-action="StartSlowness" method="post">Start Slowness</button>
        <button id="btnStop" style="padding:.6rem 1rem;" asp-controller="Slowness" asp-action="StopCPU" method="post">Stop</button>-->
    </div>    
</div>
